@{
    ViewBag.Title = "Home Page";
}

<script>
    function getUserDetails() {
        window.location.href = document.anchors["detailsUrl"].href;
    }
</script>

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1 style="text-align:center">NBME Employee Managment System</h1>
    </div>
}
else
{
    <h3>Target Application Access Token:</h3>
    <table class="table table-striped table-bordered table-hover">
        @*<tr><td>Name</td><td>@ViewBag.Name</td></tr>
        <tr><td>Username</td><td>@ViewBag.Username</td></tr>
        <tr><td>IP Address</td><td>@ViewBag.IpAdress</td></tr>*@
        @*<tr><td>Email</td><td>@ViewBag.Email</td></tr>*@
        <tr><td>Auth token</td><td style="word-break: break-all;">@ViewBag.AuthToken</td></tr>
    </table>
    @Html.Hidden((string)@ViewBag.AuthToken)
    <br />

    <div>
        
         <a id="detailsUrl" href="@ViewBag.detailUrl">Target App</a>

        <form action="@ViewBag.appUrl" method="post">
            <input type="hidden" value="@ViewBag.AuthToken"/>
            <input type="submit" value="Target App Post"/>
        </form>
        
    </div>
}

